{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<body class="bg-dark bg-gradient">
		<div class="container pb-5">
			<div class="example-wrapper text-center bg-light bg-gradient p-4 rounded shadow">
				<h1 class="mb-4">🎥 - Liste des Catégories - 🎥</h1>
				<ul class="list-group">
					{% for category in categories %}
						<li class="list-group-item rounded">
							<h3>{{ category.name }}</h3>
							<hr>
							{{ category.description }}
							<br>
							<br>
							<div class="d-flex flex-wrap">
								{% for post in category.posts %}
									<div class="card shadow-lg m-2" style="width: 10rem;">
										<img class="card-img-top" src="{{ post.picture }}" alt="{{ post.title }}">
										<hr>
										<div class="card-body">
											<h6 class="card-title">{{ post.title }}</h6>
										</div>
									</div>
								{% else %}
									<p>Aucun post trouvé.</p>
								{% endfor %}
							</div>
						</li>
						<br>
					{% else %}
						<li class="list-group-item">Aucune catégorie trouvée.</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
{% endblock %}
