{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
<body class="bg-dark bg-gradient">
    <div class="container pt-5">
        <div class="example-wrapper text-center bg-light bg-gradient p-4 rounded shadow">
            <h1>Modifier le Profil</h1>
            {{ form_start(editProfileForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                <div class="mb-3">
                    {{ form_row(editProfileForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(editProfileForm.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(editProfileForm.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(editProfileForm.profilePicture, {'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-dark">Enregistrer les modifications</button>
            {{ form_end(editProfileForm) }}
        </div>
    </div>
</body>
{% endblock %}